body {
    margin: 0;
    padding: 0;
  }
  
  .image {
    height: 40%;
    width: 100%;
    background-image: "/images/admin_home_top.png";
    background-size: cover;
    background-position: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; /* Add a margin-top value to create some space */
  }
  
  .col {
    flex: 1;
    padding: 10px;
  }
  
  .col:first-child {
    flex: 0 0 40%;
    max-width: 40%;
    
  }


  .leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  



  .col:last-child {
    height: 600px;
  }

  #info {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    width: 100%;
  }
  
  #info td, #info th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
  }
  
  

  .edit-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .pass-button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: red;
    color: white;
  } 
  
  .col:last-child {
    height: 600px;
  }
  
  .main-box {
    position: relative;
    width: 400px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 15px;
    border: 1px solid #161743;
    box-sizing: border-box;
    left: 15%;
    right: 493px;
    top: 50px;
    bottom: 351px;
  }
  
  .login-text {
    position: absolute;
    width: 400px;
    height: 41px;
    top: 15px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #000000;
  }
  
  .inner-box1 {
    position: absolute;
    width: 376px;
    height: 35px;
    left: 12px;
    right: 12px;
    top: 90px;
    background: #FFFFFF;
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-box1 input[type="password"] {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .inner-box2 {
    position: absolute;
    width: 376px;
    height: 35px;
    left: 12px;
    right: 12px;
    top: 145px;
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-box2 input[type="password"] {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .inner-box3 {
    position: absolute;
    width: 376px;
    height: 35px;
    left: 12px;
    right: 12px;
    top: 200px;
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-box3 input[type="password"] {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: transparent;
  }
  
  .login-button {
    position: absolute;
    width: 100px;
    height: 32px;
    left: 70%;
    right: 12px;
    top: 255px;
    background: green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;
  }

  .box1 {
    position: relative; 
    width: auto;
    height: 50px; 
    left: 20px;
    right: 20px;
    background: #161743;
    color: #000;
    border: 1px solid;
  }
  
  .box1-text {
    position: absolute;
    width: 451px;
    height: 40px;
    left: 34px;
    top: 5%;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 52px;
    color: #FFFFFF;
  }
  